body {
	margin: 0;
	padding: 0;
}

#main {
	height: 100vh;
	text-align: center;
	background: orange;
	transition: 1s ease-in-out;
}

#quote {
	font-size: 50px;
	font-family: monospace;
	margin-top: 100px;
	display: inline-block;
	font-style: italic;
	transition: 1s ease-in-out;
}

#author {
    font-size: 20px;
    font-family: fantasy;
    display: block;
    margin-top: 50px;
    transition: 1s ease-in-out;
}

#main button {
	font-size: 20px;
	margin-top: 50px;
	padding: 5px 10px;
	border-radius: 5px;
	background: lightblue;
	border: none;
	cursor: pointer;
}

